@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    img {
        display: block;
        max-width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2a2a2a;
    opacity: 0;
    transition: opacity 3s;
}

.hero {
    width: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Updated padding */
    background-color: #f4637b;
}

.nav .link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.nav .link ul a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

ul a.active {
    color: #f4637b;
}

.nav .link ul a:hover {
    color: #f4637b;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Reduced gap */
    margin-top: 70px;
    color: #f4637b;
    padding: 0 20px; /* Updated padding */
}

.cynthia {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.portfolio-content {
    text-align: center;
}

.pdf-link a {
    font-weight: bold;
    color: red;
    font-size: 3rem; /* Updated font size */
    margin-top: 1rem;
}

.project-title {
    font-size: 30px; /* Keep the title size the same */
    font-weight: bold;
    color: white;
    position: relative;
    margin-bottom: 5rem;
}

.game-design-title h3 {
    color: white;
    font-size: 2rem; /* Updated font size */
    margin-bottom: 7rem;
    margin-top: 10rem;
}

.video-section {
    margin-top: 50px;
    margin-bottom: 2rem; /* Updated margin */
}

.web-design {
    margin-top: 10rem;
}

.Web.design h5 {
    font-size: 2rem; /* Updated font size */
    color: white;
    margin-bottom: 2rem;
}

.Web.design iframe {
  width: 900px; /* Set a fixed width for the iframe to match the Game Design video */
  max-width: 100%; /* Ensure responsiveness */
  height: 506px;
}

.information-design-title h3 {
    font-size: 1.5rem; /* Updated font size */
    margin-bottom: 5rem;
    margin-top: 10rem;
    color: white;
}
.image-section {
  margin-bottom: 5rem;
}
.project-section {
    margin-bottom: 50px; /* Add space between projects */
}

.pdf-link h2 {
    font-size: 1.2rem; /* Updated font size */
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 10px; /* Updated padding */
    }

    .nav .link ul {
        gap: 0.5rem;
    }

    .main {
        padding: 0 10px; /* Updated padding */
    }

    .cynthia {
        max-width: 100%;
    }

    .pdf-link a {
        font-size: 1rem; /* Updated font size */
    }

    .game-design-title h3 {
        font-size: 1.2rem; /* Updated font size */
    }

    .Web.design h5 {
        font-size: 1.2rem; /* Updated font size */
    }

    .information-design-title h3 {
        font-size: 1.2rem; /* Updated font size */
    }

    .pdf-link h2 {
        font-size: 1rem; /* Updated font size */
    }
}
.caption {
  margin-bottom: 5rem;
  margin-top: 5rem;
  
}
